@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BTK Akademi</h1>
    <p>
        <strong>Başvuru için tıklayın. </strong>
        @* <a class="btn btn-primary" href="/course/apply">Başvuru</a> *@
        <a class="btn btn-primary" asp-controller="Course" asp-action="Apply" >Başvuru</a>
    </p>
</div>
